
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap);
@import url(https://fontlibrary.org//face/celtica);
body {

    font-family: montserrat,Arial,times,sans-serif; 
    font-size: 40px;
    background-color:white;
    color: darkred;
    background-image: url("backround.jpg");  

    border-collapse: separate;
  }
  header{
    background: gray; 
    border: 15px solid yellow;
    text-align: center; 
    font-weight:bold ;
}  
li {background: GREY; list-style-type: none;display: inline;text-align: center;font-size: 1.5em;
 margin-left: 20px;

}
nav{ margin: auto;

  font-family: celtica,Arial,times,sans-serif;
  background-color: red;
  border-radius: 15px;
}
a{ text-decoration: none;   
  color: rgb(221, 221, 25);
}

    .one {
    background-color: white;
      border: goldenrod 10px solid;
   color: red;
 
  width: 50%;
  height: 100%;
  border-style: dashed;
  margin:auto;
  border-radius: 25px;
}
  .two {   border: goldenrod 10px solid;

      background-color: white;
      width: 50%;
      height: 100%;
      border-style: dashed;
  margin:auto;
  border-radius: 25px;
  margin-top: 50px;
    }
    footer{clear: both;
    border: none;}

    

    .logo{ 
      width: 200px;
      height: 200px;
      float: left;
    
    }